*, html {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: rgb(25, 25, 25);
}

/**************FOR WHOLE WEB**************/

/*************************HEADER********************/

header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  border: none;
}

.brand, nav {
  padding: 0.625rem 1.5rem;
  display: flex;
  align-items: center;
  border: none;
}

.brand {
  font-weight: 800;
}

nav span {
  margin: 0 1rem;
}

.news-left h2, .news-left span,
.news-right-text h3, .news-right-text span,
#author, .banner-right span, .banner-right h1 {
  color: rgb(74, 74, 74);
}


/*************************BANNER********************/

.banner {
  width: 100%;
  height: auto;
  background-color: rgb(216, 216, 216);
  display: inline-flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.banner-left {
  width: 60%;
  height: 27rem;
  display: block;
  margin: 2rem 2.5rem 2rem 1.5rem;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  flex-shrink: 0;
}

.banner-right h1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.banner-right span {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 500;
}

.button {
  width: 20rem;
  padding: 0.9rem;
  margin: 2rem 0;
  text-align: center;
  background-color: rgb(74, 74, 74);
  font-size: 1.25rem;
  display: block;
}

.button a {
  color: rgb(245, 245, 245);
}


/*****************************NEWS block ***************************/

.news {
  width: 100%;
  display: inline-flex;
  background-color: rgb(245, 245, 245);
}

.news-left {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem 2rem 1.5rem;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}

.news-left-img {
  height: 21rem;
  background-image: url("../images/information-main.jpg");
  background-size: cover;
}

.news-left h2 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 2rem 0 1.5rem 0;
}

.news-left span {
  line-height: 1.35;
  font-size: 1rem;
}

#author {
  font-size: 0.75rem;
  display: block;
  margin-top: 1.75rem;
  font-weight: bold;
}
/**************Right***************/

.news-right {
  border-left: 1px solid rgb(216, 216, 216);
  display: inline-flex;
  flex-direction: column;
}

.news-right-1st, .news-right-2nd, .news-right-3rd {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.news-right-1st img, .news-right-2nd img, .news-right-3rd img {
  width: 30%;
  height: 30%;
  padding: 1rem;
}

.news-right-1st {
  margin-top: 1rem;
}

.news-right-3rd {
  background-color: rgb(216, 216, 216);
}

/*styles for text*/
.news-right-text {
  display: inline-flex;
  flex-direction: column;
  padding: 0 1rem;
}

.news-right-text h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

.news-right-text span {
  font-size: 1rem;
  margin: 0.6rem 0 1.75rem 0;
}

.news-right-text a {color: royalblue;}
